include ../components/page-header/page-header

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title logo
    body
        +page-header
        main.page-main
            .page-main__wrapper
                section.price-block.active(id="price")
                    .price-block__top-info
                        .price-block__title-block
                            h1.price-block__title таблица цен
                            span.price-block__nds С НДС (какой та текст)
                        .price-block__upper-text-block
                            p.price-block__upper-text Прежде всего,  уровень погружения не дает нам иного выбора, кроме определения анализа существующих паттернов поведения. 
                            a(href="").price-block__upper-link Ссылка на продукт»
                    .price-block__price-table-block(id="table")
                            table(border="1" cellpadding="20").price-block__price-table
                                <tr class="price-block__price-table-title">
                                    <th class="price-block__title-item-1">ПУНКТ ТАБЛИЦЫ</th>
                                    <th class="price-block__title-item-2">ПУНКТ</th>
                                    <th class="price-block__title-item-3">ПУНКТ</th>
                                    <th class="price-block__title-item-4">ПУНКТ ТАБЛИЦЫ</th>
                                    <th class="price-block__title-item-5">ПУНКТ</th>
                                    <th class="price-block__title-item-6">ПУНКТ</th>
                                    <th class="price-block__title-item-7">ПУНКТ ТАБЛИЦЫ</th>
                                </tr>
                               
                                <tr class="price-block__product-title">
                                    <th colspan="7">ЗАГОЛОВОК ПРОДУКТА</td>
                                </tr>
                                <tr class="price-block__product-title--mobile">
                                    <th colspan="3">ЗАГОЛОВОК ПРОДУКТА</td>
                                </tr>
                                <tr>
                                    <th class="price-block__item-1" rowspan="9" ></th>
                                    <th class="price-block__item-2" ></th>
                                    <th class="price-block__item-3" ></th>
                                    <th class="price-block__item-4" ></th>
                                    <th class="price-block__item-5" ></th>
                                    <th class="price-block__item-6" ></th>
                                    <th class="price-block__item-7" ></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr class="price-block__product-title">
                                    <th colspan="7">ЗАГОЛОВОК ПРОДУКТА</td>
                                </tr>
                                <tr class="price-block__product-title--mobile">
                                    <th colspan="3">ЗАГОЛОВОК ПРОДУКТА</td>
                                </tr>
                                <tr>
                                    <th class="price-block__item-1" rowspan="9" ></th>
                                    <th class="price-block__item-2" ></th>
                                    <th class="price-block__item-3" ></th>
                                    <th class="price-block__item-4" ></th>
                                    <th class="price-block__item-5" ></th>
                                    <th class="price-block__item-6" ></th>
                                    <th class="price-block__item-7" ></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                                <tr>
                                    <th class="price-block__item-2"></th>
                                    <th class="price-block__item-3"></th>
                                    <th class="price-block__item-4"></th>
                                    <th class="price-block__item-5"></th>
                                    <th class="price-block__item-6"></th>
                                    <th class="price-block__item-7"></th>
                                </tr>
                section.page-kp-block(id="kp")
                    .page-kp-block__top-info
                        .page-kp-block__title-block
                            h1.page-kp-block__title СТРАНИЦА-КП
                        .price-block__upper-text-block
                            p.page-kp-block__upper-text Кстати, тщательные исследования конкурентов представлены в исключительно положительном свете. Банальные, но неопровержимые выводы, а также явные признаки победы институциализации неоднозначны и будут в равной степени предоставлены сами себе. 
                    .page-kp-block__kp-info-block 
                        .page-kp-block__scheme-block
                        .page-kp-block__main-info-block
                            h2.page-kp-block__info-block-title Современная методология разработки оказалась ошибочной
                            p <span class="page-kp-block__item-title">Пункт 1</span> – Следует отметить, что экономическая повестка сегодняшнего дня является качественно новой ступенью прогресса профессионального сообщества. С учетом сложившейся международной обстановки, базовый вектор развития обеспечивает широкому кругу (специалистов) участие в формировании глубокомысленных рассуждений.
                            p <span class="page-kp-block__item-title">Пункт 2</span> – Для современного мира сплоченность команды профессионалов в значительной степени обусловливает важность новых предложений. Но сложившаяся структура организации создает необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса поставленных обществом задач! Принимая во внимание показатели успешности, экономическая повестка сегодняшнего дня требует анализа приоритизации разума над эмоциями.
                            p <span class="page-kp-block__item-title">Пункт 3</span> – Повседневная практика показывает, что убежденность некоторых оппонентов однозначно фиксирует необходимость системы обучения кадров, соответствующей насущным потребностям. Вот вам яркий пример современных тенденций - высококачественный прототип будущего проекта обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
                            p <span class="page-kp-block__item-title">Пункт 4</span> – Противоположная точка зрения подразумевает, что базовые сценарии поведения пользователей призваны к ответу. Повседневная практика показывает, что существующая теория является качественно новой ступенью прогресса профессионального сообщества. В рамках спецификации современных стандартов, акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает актуальность первоочередных требований.     
                        .page-kp-block__additional-info-block
                            p.page-kp-block__additional-title Добавим: 
                            p <span class="page-kp-block__item-important"> Вот вам яркий пример современных тенденций</span> - сплоченность команды профессионалов обеспечивает широкому кругу (специалистов) участие в формировании форм воздействия.
                            p Противоположная точка зрения подразумевает, что стремящиеся вытеснить традиционное производство, нанотехнологии призваны к ответу. Каждый из нас понимает очевидную вещь: экономическая повестка сегодняшнего дня представляет собой интересный эксперимент проверки дальнейших направлений развития.     
                section.description-block(id="desc")
                    .description-block__top-info
                        .description-block__title-block
                            h1.description-block__title ОПИСАНИЕ
                        .description-block__upper-text-block
                            p.description-block__upper-text Господа, внедрение современных методик предопределяет высокую востребованность системы массового участия.
                    .description-block__info-block
                        .description-block__image-block
                            .description-block__image-1
                            .description-block__image-2
                            .description-block__image-3
                        .description-block__main-info-block
                            p  - учитывая ключевые <span class="description-block__important-info">сценарии поведения</span>
                            p  - <span class="description-block__important-info">постоянный количественный рост</span> и сфера нашей активности предопределяет высокую востребованность стандартных подходов 
                            p  - повседневная практика показывает, что <span class="description-block__important-info">граница обучения кадров</span> не дает нам иного выбора, кроме определения кластеризации усилий
                            p  - в своем стремлении улучшить пользовательский опыт мы упускаем, что <span class="description-block__important-info">многие известные личности</span> лишь добавляют фракционных разногласий и преданы социально-демократической анафеме
                            p  - также как сложившаяся структура организации предоставляет широкие возможности для <span class="description-block__important-info">соответствующих условий</span> активизации
                            p  - в своем стремлении повысить качество жизни, они забывают, что понимание сути ресурсосберегающих технологий предполагает независимые <span class="description-block__important-info">способы реализации экспериментов</span>, поражающих по своей масштабности и грандиозности
                        .description-block__second-info-block
                            p Банальные, но неопровержимые выводы, а также независимые государства лишь добавляют фракционных разногласий и объявлены <span class="description-block__second-important">нарушающими общечеловеческие</span> нормы этики и морали. 
                            p Не следует, однако, забывать, что курс на социально-ориентированный национальный проект влечет за собой процесс внедрения и модернизации <span class="description-block__second-important">соответствующих условий активизации</span>. В целом, конечно, постоянный количественный рост и сфера нашей активности не оставляет шанса для форм воздействия.
                            p Идейные соображения высшего порядка, а также базовый вектор развития однозначно фиксирует необходимость существующих <span class="description-block__second-important">финансовых и административных условий</span>. Банальные, но неопровержимые выводы, а также непосредственные участники технического прогресса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объявлены нарушающими общечеловеческие нормы этики и морали! Учитывая ключевые сценарии поведения, постоянное информационно-пропагандистское обеспечение нашей деятельности не дает нам иного выбора, кроме определения стандартных подходов.
                            p Учитывая ключевые сценарии <span class="description-block__second-important">поведения, существующая теория позволяет выполнить важные задания по разработке вывода текущих активов</span>. Учитывая ключевые сценарии поведения, глубокий уровень погружения требует анализа поставленных обществом задач.
                        .description-block__image-4
                .animation-block
                    .animation-block__item1
                    .animation-block__item2
                    .animation-block__item3
                    .animation-block__item4
                    .animation-block__item5
                .rec-block
                    .rec-block__rec1
                        span.rec-block__rec реклама
                    .rec-block__rec2
                        span.rec-block__rec реклама
                    .rec-block__rec3
                        span.rec-block__rec реклама
                    .rec-block__rec4
                        span.rec-block__rec реклама

