mixin page-header
        header.page-header
            .page-header__wrapper 
                .page-header__logo-block
                .page-header__burger-button
                .page-header__navbar-block
                    button.page-header__button-price.active Цены
                    button.page-header__button-kp СТРАНИЦА-КП
                    button.page-header__button-description описание
                .page-header__contacts-block
                    a.page-header__phone-number(href="tel:8800 555 55 55") 8800 555 55 55
                    a.page-header__email-address(href="mailto:info@post.com") info@post.com
                    span.page-header__work-time с 8:00 до 21:00 Пн-Сб